.MessageBox
  .MessageInfo
    .Name
      = message.user.name
    .Date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .MessageContent
    - if message.content.present?
      %p.MessageContent__detail
        = message.content
    = image_tag message.image.url, class: 'MessageContent__image' if message.image.present?